.page{
	max-width:100%;
	overflow:hidden;
}

img.logo{
	width:30%;
	display:block;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

img.loading{
	width:10%;
	display:block;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

p.loadinfo{
	color:#F5B800;
	font-family:"Open Sans", "Helvetica" sans-serif;
	font-size:20px;
	font-weight:bold;
	width:100%;
	text-align:center;
}

.pusher {
	position:relative;
	width:100%;
	height:60px;
	margin-bottom:10px;
}

.pusher-login{
	margin-top:60px;
}

.product {
    height:100px;
    background:#ededed;
    margin-bottom:10px;
}
.product a {
    color:black;
}
.product img, .product div {
    display:inline-block;
}
.productdata p{
	text-overflow:ellipsis;
	overflow:hidden;
	width:100%;
}
.productdata h4 {
    top:-30px;
    position:relative;
    margin-bottom:-30px;
    text-overflow:ellipsis;
    overflow:hidden;
    width:100%;
     white-space:nowrap;
}
.productdata {
	top:30px;
	width:24%;
    position: relative;
}
.productdata h4 {
    font-size:30px;
}
div.hoeveelheiddata {
    top:-10px;
    position:relative;
    float:right;
    margin-left:10px;
    margin-right:50px;
}
.hoeveelheiddata h1 {
    font-size:40px;
    font-weight:bold;
    margin-bottom:0;
    position:relative;
    right:0px;
}
div.voegtoe {
    width:250px;
    height:100%;
    float:right;
}
div.voegtoe button {
    width:32%;
    height:100%;
    top:-25px;
    position:relative;
}
div.plusmin {
    width:32%;
    height:100%;
}
div.plusmin button {
    width:100%;
    height: 49%;
    top:0px;
    margin-bottom:3px;
}

.productdata.alleproducten{
	width:40%;
}